<!-- Navigation Bar-->
<header id="topnav">
    {% include '_components/topmenu.html' %}
    <div class="topbar-menu">
        <div class="container-fluid">
            <div id="navigation">
                <!-- Navigation Menu-->
                <ul class="navigation-menu">
                    <li>
                        <a href="{{ url_for('mahasiswa.index') }}"> <i class="mdi mdi-view-dashboard"></i>Dashboard</a>
                    </li>
                    <li>
                        <a href="{{ url_for('mahasiswa.jadwal.index') }}"> <i class="mdi mdi-view-dashboard"></i>Kelas</a>
                    </li>
                </ul>
                <!-- End navigation menu -->
                <div class="clearfix"></div>
            </div>
            <!-- end #navigation -->
        </div>
        <!-- end container -->
    </div>
    <!-- end navbar-custom -->
</header>